
<!-- Header container -->
<div class="container px-4 py-5 mt-5 text-center">
    <h1 class="display-5 fw-bold text-primary my-3">Add a Members</h1>
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <form action="/api/members" class="card-body text-start" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" required />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" required />
                </div>
                <div class="form-group">
                    <label for="name">Phone Number</label>
                    <input type="number" class="form-control" name="phone" required />
                </div>
                <div class="form-group">
                    <label for="name">Status</label>
                    <input type="text" class="form-control" name="status" value="Active" readonly />
                </div>
                <center><button type="submit" class="btn btn-primary my-3">Submit</button></center>
            </form>
        </div>
    </div>
</div>