<h1>Members</h1>

<!-- Header container -->
<div class="container px-4 py-5 mt-5 text-center">
    <i class="fa fa-users text-primary" style="font-size: 150px"></i>
    <h1 class="display-5 fw-bold text-primary">Welcome to MembersApp</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">This is a simple app built using Express.JS and Bootstrap library. The app main function is to allow users to manage members.</p>
        <a href="/members" class="btn btn-primary">All Members</a>
        <a href="/members/add" class="btn btn-primary">Add Member</a>
    </div>
</div>